html,
body,
#root,
#root > div {
  height: 100%;
  overflow-x: hidden !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.containerApp {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

.icon{
  width:35px;
  height:35px;
  border-radius: 100%;
}



 ::-webkit-scrollbar  {
  display: none;

} 

.MuiTableSortLabel-icon {
  background-color: #FFFF;
  padding:0.3rem;
  border-radius: 2rem;
  margin-left: 1rem !important;
}
